<table class="table table-hover">
    <tr>
        <td>
            <b>Company: {{ app.company }}</b>
            <br> Position: {{ app.position }}
            <br> Status: {{ app.status }}
            {% if app.last_updated %}
            <br> Last updated on {{ clean_date(app.last_updated) }}
            {% endif %}
            <br>
            <a href="{{ url_for('edit_application', app_id=app.id) }}">
                <b>Edit this application</b>
            </a>
        </td>
    </tr>
</table>