<html>
    <head>
        <script type="text/javascript">
            function loading(){
                document.getElementById("loading").style.display = "block";
                document.getElementById("content").style.display = "none";  
            }
        </script>
        <title>See your table!</title>
    </head>
    <body>
        {% if not no_table %}
        <p>Below is the table you uploaded!</p>
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
        {% else %}
        <p>Please upload a table!</p>
        {% endif %}
    </body>
</html>