{% block content %}
{% block html %} 
<html>
    <head>
        {% set bootswatch_theme = 'lumen' %}
        {% set bootswatch_version = '4.3.1' %}
        <link href="//bootswatch.com/{{ bootswatch_theme }}/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript">
            function loading(){
                document.getElementById("loading").style.display = "block";
                document.getElementById("content").style.display = "none";  
            }
        </script>
        <title>See your table!</title>
    </head>
    {% block navbar %}
        <div class="navbar navbar-fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Welcome!</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/upload">Upload</a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
    {% endblock %}
    <body>
        {% if not no_table %}
        <p>Please click here to analyze the file below. This will take a long time, approximately 4 minutes.</p>
        <form action="/analyze">
            <input type="submit" value="Analyze the file." />
        </form>
        <p>Below are the first up to 50 rows of the table you uploaded!</p>
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
        {% else %}
        <p>Please click here to go and upload a file for analysis.</p>
        <form action="/upload">
            <input type="submit" value="Upload a file" />
        </form>
        {% endif %}
    </body>
</html>

{% endblock %}
{% endblock %}