<html>
    <head>
        <script type="text/javascript">
            function loading(){
                document.getElementById("loading").style.display = "block";
                document.getElementById("content").style.display = "none";  
            }
        </script>
        <title>See your table!</title>
    </head>
    <body>
        {% if not no_table %}
        <p>Please click here to analyze the file below. This will take a long time, approximately 4 minutes.</p>
        <form action="/analyze">
            <input type="submit" value="Analyze the file." />
        </form>
        <p>Below are the first up to 50 rows of the table you uploaded!</p>
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
        {% else %}
        <p>Please click here to go and upload a file for analysis.</p>
        <form action="/upload">
            <input type="submit" value="Upload a file" />
        </form>
        {% endif %}
    </body>
</html>